# Configuración para la conexión a la base de datos

DB_HOST=localhost
DB_NAME=myapp
DB_USER=myuser
DB_PASS=mypass

# Configuración de correo SMTP (gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=noticias.info@gmail.com
SMTP_PASS=contraseña
SMTP_FROM=noticias.info@gmail.com
SMTP_FROM_NAME=Noticias Info

